# environment secrets
.env
.env.*

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
venv/
.venv/

# mac
.DS_Store

# node (frontend)
node_modules/
dist/

github_actions_ec2
github_actions_ec2.pub
